

@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.3s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.animate-pulse {
  animation: pulse 3s infinite ease-in-out;
}

/* Asegura que la animación sea suave */
.hexagon {
  will-change: transform, background-color;
  backface-visibility: hidden;
  perspective: 1000px;
}

/* Suavizar la animación de hover */
a:hover {
    transition: all 0.3s ease;
}

/* Estilos para modo claro */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos para modo oscuro */
body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}