name: Deploy to Amazon Lightsail

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into Amazon Lightsail and deploy
        uses: appleboy/ssh-action@master
        with:
          host: 3.137.31.20
          username: ubuntu
          key: ${{ secrets.LIGHTSAIL_SSH_KEY }}
          script: |
            cd /home/ubuntu/oidivi-frontend

            echo " Descartando cambios locales y obteniendo la 煤ltima versi贸n del c贸digo..."
            git reset --hard HEAD
            git pull origin main --force

            echo " Instalando dependencias..."
            npm install
            npx prettier --write .

            echo "锔 Compilando la aplicaci贸n..."
            npm run build

            echo " Configurando PM2 correctamente..."
            pm2 delete oidivi-frontend || true

            # Crear script de inicio
            echo -e '#!/bin/bash\ncd /home/ubuntu/oidivi-frontend\nnpm start' > start.sh
            chmod +x start.sh

            # Iniciar la aplicaci贸n con PM2 usando el script
            pm2 start ./start.sh --name "oidivi-frontend"
            pm2 save

            echo " Configurando PM2 para que se inicie con el sistema..."
            sudo env PATH=$PATH:/usr/bin /usr/lib/node_modules/pm2/bin/pm2 startup systemd -u ubuntu --hp /home/ubuntu
